.adminDashboard {
  display: flex;
  min-height: 100vh;
  background-color: #061521;
}

.adminDashboardContent {
  flex: 1;
  margin-left: 260px;
  background-color: #061521;
}

.adminDashboardBody {
  padding: 30px;
  background-color: #061521;
  min-height: calc(100vh - 80px);
}