/* ---------------- CONTACT SECTION ---------------- */

.contact-section {
  padding: 80px 60px;
  background: linear-gradient(135deg, #edcb96, #ffe5bb);
}

.contact-container {
  display: flex;
  gap: 60px;
  align-items: stretch;
}

.contact-container h2 {
  font-family: "Lucida Handwriting", cursive;
}

/* ---------------- LEFT SIDE ---------------- */

.question-side {
  flex: 1;
}

.question-side > p {
  line-height: 1.7;
  max-width: 650px;
}

/* ---------------- INQUIRY CARD ---------------- */

.inquiry-card {
  background: #ffffff;
  padding: 45px 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.09);

  margin-top: 25px;

  text-align: center;

  min-height: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff7ee;
}

.inquiry-icon {
  width: 65px;
  height: 65px;

  background: #062036;
  color: #f1d49b;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;

  margin-bottom: 20px;
}

.inquiry-card h3 {
  font-family: "Cinzel", serif;
  margin-bottom: 12px;
}

.inquiry-card p {
  max-width: 500px;
  line-height: 1.7;
  color: #8a9ba8;

  margin-bottom: 25px;
}

/* ---------------- INQUIRY BUTTON ---------------- */

.inquiry-btn {
  background: #c89d72;
  color: #ffffff;

  border: none;

  padding: 14px 32px;

  border-radius: 30px;

  cursor: pointer;

  font-weight: 600;

  letter-spacing: 0.5px;

  transition: all 0.3s ease;
}

.inquiry-btn:hover {
  background: #062036;

  transform: translateY(-2px);

  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* ---------------- MAP SECTION ---------------- */

.map-side {
  flex: 1;
}

.map-side h2 {
  font-family: "Cinzel", serif;
}

.map-para {
  max-width: 100%;
  margin-bottom: 0;
  line-height: 1.7;
}

.map-side iframe {
  width: 100%;
  height: 320px;

  border: 0;

  border-radius: 12px;

  margin-top: 20px;
}

.map-side h4 {
  font-family: "Cinzel", serif;

  margin-top: 10px;
}

/* ---------------- SOCIAL MEDIA ---------------- */

.social {
  display: flex;
  gap: 15px;
}

.social div {
  width: 30px;
  height: 30px;

  background: #062036;
  color: #f1d49b;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;

  cursor: pointer;

  transition: 0.3s;
}

.social div:hover {
  background: #f1d49b;
  color: #062036;
}

/* ---------------- RESPONSIVE ---------------- */

@media (max-width: 992px) {
  .contact-container {
    flex-direction: column;
  }

  .inquiry-card {
    min-height: 280px;
  }
}

@media (max-width: 576px) {
  .contact-section {
    padding: 30px 20px;
  }

  .inquiry-card {
    padding: 30px 20px;
  }

  .inquiry-btn {
    width: 100%;
  }
}