 /* ---------------- Eventura service -------------- */

   .why-eventura {
  padding: 100px 0;
  background: #f1d49b;
}

/* .container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
} */

.why-grid {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 70px;
  align-items: center;
}

/* LEFT CONTENT */
.why-content {
  text-align: left;
}

.section-tag {
  font-size: 15px;
  letter-spacing: 2px;
  color: #a88a3d;
  text-transform: uppercase;
  font-family: Cinzel;
  font-weight: 600;
}

.why-content h2 {
  font-size: 42px;
  font-family: Cinzel;
  margin: 14px 0 18px;
  line-height: 1.25;
  color: #062036;
  font-weight: 700;
}

@media (max-width: 567px){
  .why-content h2{
    font-size: 36px;
  }
}

.why-desc {
  font-size: 16px;
  color: #555;
  margin-bottom: 40px;
  max-width: 520px;
}

/* FEATURES */
.why-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

.feature {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.feature .icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(6, 32, 54, 0.12); /* derived from #062036 */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #062036;
  font-size: 20px;
  flex-shrink: 0;
}

.feature span {
  font-size: 22px;
  line-height: 1;
}

.feature h5 {
  margin: 0;
  font-family: Cinzel;
  font-weight: 600;
  font-size: 17px;
  color: #062036;
}

.feature p {
  margin-top: 6px;
  font-size: 14px;
  color: #666;
}

/* RIGHT IMAGE */
.why-image img {
  width: 60%;
  margin-left: 140px;
  border-radius: 22px;
  object-fit: cover;
}

@media (max-width: 900px) {
  .why-grid {
    grid-template-columns: 1fr;
  }

  /* .why-features {
    grid-template-columns: 1fr;
  } */
}

@media (max-width: 576px){
    .why-features {
    grid-template-columns: 1fr;
  }

  /* .why-image img {
  width: 30%;
  height: 10%;
  border-radius: 22px;
  object-fit: cover;
  margin-left: 0;
} */

  .why-image img {
  width: 100%;
  margin-left: 0;
  border-radius: 22px;
  object-fit: cover;
}
}